.App {
    /*text-align: center;*/
     position : absolute;
     height : 100%;
     width : 100%;
     background: black;
}
body {
  overflow : auto !important;

}
.divider {
     width: 100%;
     border: 1px solid lightgray;
}
#headerContainer {
    width:100%;
    display:flex;
    align-items:center;
    padding: 0 5px 0 5px;
}
#headerContainer > * {
  margin:5px;
}
#splitpane {
    position: relative;
    height : 80%;
    width : 100%;
}
#graph {
    position: relative;
    width : 100%;
    height : 100%;
}
#browser {
    position: relative;
    height : 100%;
    width : 100%;
}
#viewContainer {
    display:flex;
    height:100%;
    width:100%;
    position:absolute;
}
#viewContainer > .SplitPane {
    flex:1 !important;
}
#graphOverlayContainer {
  position: absolute;
  z-index: 1;
  width: 100%;
  height:100%;
  background-color: transparent;
  display:flex;
  align-items:flex-start;
  pointer-events:none; /* So that the transparent container does not consume all the pointer events meant for the force graph */
}
#graphOverlayContainer > * {
  pointer-events:initial; /* So that the container's children can still receive pointer events */
}
#toolbar {
  background-color:rgba(30,30,30, 1);
  border-bottom-width:5px;
}
#schemaBanner {
    /* background-color: rgb(30, 30, 30); */
    /* border-bottom: 4px solid rgb(50, 50, 50); */
    width: 100%;
    background-color: transparent;
    padding: 10px;
    /* text-align: center; */
    /* text-decoration: underline; */
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: rgb(235, 235, 235);
    display:flex;
    align-items: center;
}
.LinkExaminer {
  margin-left: 10px;
  max-height:400px;
}
.fa-spin {
  /* Pseudo fa-spin class because react-icons doesn't seem to natively support it */
  -ms-animation:spin 2s linear infinite;
  -o-animation:spin 2s linear infinite;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}
#schemaViewToggleButtonContainer {
  flex-grow: 1;
}
#schemaViewToggleButton {
  float: right;
  background-color: black;
  color: #007bff;
}
#info {
    /* position: absolute; */
    background-color: rgb(39, 40, 34);
    /* bottom: 0px; */
    overflow:auto;
    height:100%;
    width:100%;
    border-left: 2px solid rgb(166, 226, 46);
}
#info > ul {
    margin:5px !important;
    margin-bottom: 12.5px !important;
}
.type-chart {
  width: 95%;
  height: 100%;
  max-height: none;
  max-width: none;
}
#typeChartTitle {
  display:flex;
  align-items:center;
}
#swapBar {
  margin-top:2px;
  margin-left:12.5px;
  font-size:24px;
}

.Resizer.disabled {
  cursor:auto !important;
}

.tableView {
    position : absolute;
    bottom : 0px;
    width : 100%;
    height : 200px;
    border-top: 2px solid lightblue;
 }
.react-json-view {
    height:100%;
    position: absolute;
    overflow: auto;
 }
.App-logo {
    /*animation: App-logo-spin infinite 20s linear; */
     height: 7vmin;
     pointer-events: none;
    text-align : left;
    position : absolute;
    left : 20px;
    top : 15px;
 }

.App-header {
    background-color: #282c34;
     min-height: 8vh;
     display: flex;
     align-items: center; /* center; */
     justify-content: left; /*center;*/
     color: white;
     font-size: calc(9px + 2vmin);
     font-style: italic;
     font-weight : bold;
 }
.App-control {
    float : right;
    margin-left : 5px;
    margin-right : 5px;
}
.App-control-toolbar {
  color: rgba(220,220,220,.9);
}
.App-control-toolbar.ionic {
  font-size: 22px;
}
.App-control-toolbar.fa {
  font-size: 18px;
}
.answerNavigator {
    width: 95%;
    height: 95%;
    max-width: none!important;
    max-height: 100%;
    height: 100%;
}
.modal-content {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    max-height: 90%;
    height: 90%;
}
.help-modal {
  /* height:60%; */
}
#helpGrid > * {
  padding-left:7.5px;
  padding-right:7.5px;
}
#helpGrid > *:first-child {
  padding-top:7.5px;
}
#helpGrid > *:last-child {
  padding-bottom:7.5px;
}
#helpGrid > * > * {
  padding:7.5px;
}
#helpGrid > * > * > * {
  height:100%;
}
#spinner {
    position : absolute;
    right : 250px;
    top : 20px;
}
#clearCache {
    float: right;
}
#navModeButton {
}
#runButton {
  height:60%;
    /* position: absolute; */
    /* right: 41px; */
 }
.settingsDialog {
    width: 95%;
    max-width: none!important;
    height: 95%;
    /*max-height: 95%; */
}
#appControlContainer {
  display:flex;
  flex-direction:column;
}
#appControlContainer > * {
  margin:0;
}
#settings {
    /* position: absolute; */
    /* right : 3px; */
    /* top : 11px; */
}
#answerViewer {
  /* position: absolute; */
  /* right : 3px; */
  /* top: 40px; */
}
.Legend {
  border-bottom:1px solid rgb(200,200,200);
}
.Legend[data-closed="true"] {
  border-top:1px solid rgb(200,200,200);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.splitPane {
    position: relative;
 }
.query-code .CodeMirror-scroll {
    height: 40%;
 }
.query-code .CodeMirror {
    text-align: left!important;
    padding: 2px;
    font-size : 14px;
    font-weight : bold;
    width: 100%;
    height: 50%!important;
    border-color: lightgray 1px solid;
 }
.rv-force {
    border: 1px solid gray;
 }

/* ??? */
.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

 .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

 .Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

@-ms-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-o-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
