.App {
    /*text-align: center;*/
     position : absolute;
     height : 100%;
     width : 100%;
     background: black;
 }
.divider {
     width: 100%;
     border: 1px solid lightgray;
}
#splitpane {
    position: relative;
    height : 80%;
    width : 100%;
}
#graph {
    position: relative;
    width : 100%;
    height : 100%;
}
#browser {
    position: relative;
    height : 100%;
    width : 100%;
}
#info {
    /* position: absolute; */
    background-color: rgb(39, 40, 34);
    /* bottom: 0px; */
    overflow:auto;
    height:100%;
    border-left: 2px solid rgb(166, 226, 46);

}
#info > ul {
  margin:5px !important;
  margin-bottom: 12.5px !important;
}

.tableView {
    position : absolute;
    bottom : 0px;
    width : 100%;
    height : 200px;
    border-top: 2px solid lightblue;
 }
.react-json-view {
    height:100%;
    position: absolute;
    overflow: auto;
 }
.App-logo {
    /*animation: App-logo-spin infinite 20s linear; */
     height: 7vmin;
     pointer-events: none;
    text-align : left;
    position : absolute;
    left : 20px;
    top : 15px;
 }

.App-header {
    background-color: #282c34;
     padding: 5px;
     min-height: 8vh;
     display: flex;
     flex-direction: column;
     align-items: left; /* center; */
     justify-content: left; /*center;*/
     color: white;
     font-size: calc(9px + 2vmin);
     font-style: italic;
     font-weight : bold;
 }
.App-control {
    float : right;
    margin-left : 5px;
    margin-right : 5px;
}
.answerNavigator {
    width: 95%;
    height: 95%;
    max-width: none!important;
    max-height: 100%;
    height: 100%;
}
.modal-content {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    max-height: 90%;
    height: 90%;
}
#spinner {
    position : absolute;
    right : 250px;
    top : 20px;
}
#clearCache {
    float: right;
}
#navModeButton {
    position: absolute;
    right: 105px;
}
#runButton {
    position: absolute;
    right: 41px;
 }
.settingsDialog {
    width: 95%;
    max-width: none!important;
    height: 95%;
    /*max-height: 95%; */
}
#settings {
    position: absolute;
    right : 3px;
    top : 11px;
}
#mainLegend {
  border-top:1px solid rgb(200,200,200);
  border-bottom:1px solid rgb(200,200,200);
}
#answerViewer {
    position: absolute;
    right : 3px;
    top: 40px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.splitPane {
    position: relative;
 }
.CodeMirror-scroll {
    height: 40%;
 }
.CodeMirror {
    text-align: left!important;
    padding: 2px;
    font-size : 14px;
    font-weight : bold;
    width: 100%;
    height: 50%!important;
    border-color: lightgray 1px solid;
 }
.rv-force {
    border: 1px solid gray;
 }






    .Resizer {
        background: #000;
        opacity: .2;
        z-index: 1;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -moz-background-clip: padding;
        -webkit-background-clip: padding;
        background-clip: padding-box;
    }

     .Resizer:hover {
        -webkit-transition: all 2s ease;
        transition: all 2s ease;
    }

     .Resizer.horizontal {
        height: 11px;
        margin: -5px 0;
        border-top: 5px solid rgba(255, 255, 255, 0);
        border-bottom: 5px solid rgba(255, 255, 255, 0);
        cursor: row-resize;
        width: 100%;
    }

    .Resizer.horizontal:hover {
        border-top: 5px solid rgba(0, 0, 0, 0.5);
        border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    }

    .Resizer.vertical {
        width: 11px;
        margin: 0 -5px;
        border-left: 5px solid rgba(255, 255, 255, 0);
        border-right: 5px solid rgba(255, 255, 255, 0);
        cursor: col-resize;
    }

    .Resizer.vertical:hover {
        border-left: 5px solid rgba(0, 0, 0, 0.5);
        border-right: 5px solid rgba(0, 0, 0, 0.5);
    }
    .Resizer.disabled {
      cursor: not-allowed;
    }
    .Resizer.disabled:hover {
      border-color: transparent;
    }
