.example-queries-modal {
  display:flex !important;
  justify-content:center;
  align-items:center;
}
.example-queries-modal-dialog {
  height:75%;
  margin:0;
  width:65%;
  max-height:75%;
  max-width:65%;
}
.example-queries-modal-dialog > .modal-content {
  height:100%;
}
.example-queries-modal-dialog > .modal-content > .modal-body {
  display:flex;
  overflow-y:auto;
}
.container {
  height:100%;
}
.right-container {
  display:flex;
  flex-direction:column;
  /* max-height:100%; */
  margin-left:16px;
  width:calc(80% - 16px);
}
.example-list {
  width:20%;
  /* height:max-content; */
  margin-bottom:16px;
}
/**
To extend empty last child for entire height
.example-list > *:nth-last-child(2) {
  border-bottom-width:0.5px;
}
.example-list > *:last-child {
  border-width:0.5px;
  flex-grow:1;
  padding:0;
}
*/
.example-query-button-container {
  display:flex;
  justify-content:flex-end;
  margin-bottom:14px;
  position:absolute;
  z-index:5000;
  right:10px;
  top:10px;
}
.example-query-button-container > * {
  font-size:14px;
}
.example-query-button-container > *:not(:last-child) {
  margin-right:8px;
}
.example-query-code {
  flex-grow:1;
  /* height:100%; */
  /* max-height:100%; */
  display:flex;
  margin-bottom:16px;
}
.example-query-code .CodeMirror {
  /* height:100% !important; */
  flex-grow:1;
  /* overflow:hidden; */
  height:auto;
  width:100%;
  /* max-height:100%; */
}
.example-query-code .CodeMirror-scroll {
  width:100%;
  overflow-y: hidden !important;
}
.example-query-code .CodeMirror-lines {
  display:flex;
}
