.example-queries-modal {
  display:flex !important;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
}
.example-queries-modal-dialog {
  height:75%;
  margin:0;
  width:650px;
  max-height:75%;
  max-width:none;
}
.example-queries-modal-dialog > .modal-content {
  height:100%;
}
.example-queries-modal-dialog > .modal-content > .modal-body {
  display:flex;
  /* overflow-y:auto; */
}
.container {
  height:100%;
}
.right-container {
  position:relative;
  display:flex;
  flex-direction:column;
  /* max-height:100%; */
  margin-left:16px;
  width:calc(80% - 16px);
}
.example-list {
  overflow-y:auto;
  /* direction:rtl; */
  width:20%;
  /* height:max-content; */
  /* margin-bottom:16px; */
}
/**
To extend empty last child for entire height
.example-list > *:nth-last-child(2) {
  border-bottom-width:0.5px;
}
.example-list > *:last-child {
  border-width:0.5px;
  flex-grow:1;
  padding:0;
}
*/
.example-list > button {
  word-wrap:break-word;
}
.example-query-button-container {
  display:flex;
  justify-content:flex-end;
  align-items:center;
  /* margin-bottom:14px; */
  /* margin:0px 5px 0 0; */
  padding:7.5px 4px 7.5px 0;
  background-color:rgb(247,247,247);
  border:1px solid #ddd;
  border-bottom:none;

  /* position:absolute; */
  /* z-index:5000; */
  /* right:25px; */
  /* top:6px; */
}
.example-query-button-container > * {
  font-size:14px;
}
.example-query-button-container > *:not(:last-child) {
  margin-right:8px;
}
.example-query-code {
  /* flex-grow:1; */
  height:100%;
  /* max-height:100%; */
  display:flex;
  /* margin-bottom:16px; */
}
.example-query-code .CodeMirror {
  /* height:100% !important; */
  border:1px solid #ddd;
  flex-grow:1;
  /* overflow:hidden; */
  height:auto;
  width:100%;
  /* max-height:100%; */
}
.example-query-code .CodeMirror-vscrollbar {
  /* Equivalent of overflow: scroll */
  display:block !important;
}
.example-query-code .CodeMirror-wrap {
  height:100%;
}
.example-query-code .CodeMirror-scroll {
  width:100%;
}
.example-query-code .CodeMirror-lines {
  display:flex;
}
