.FindTool {
  pointer-events:initial;
  background-color:white;
  display:flex;
  flex-direction:column;
  border:2px solid rgb(215,215,215);
  max-height:calc(100% - 10px);
  max-width:30%;
  min-width:150px;
  /* padding: 3px 0; */
}
.FindTool[data-hide="true"] {
  display:none;
  pointer-events:none;
}
.find-container {
  display:flex;
}
.find-tool-input {
  transition:background-color .85s;
  background-color:inherit;
  padding:5px;
  border:none;
  outline:none;
  font-size:.8rem;
  flex:1;
  word-break:break-all;
  max-height:400px;
  overflow:auto;
  width:100%;
  border-radius:0;
}
.find-tool-input:hover {
  background-color:rgb(245,245,245);
}
.find-tool-button-container {
  display:flex;
  justify-content:space-around;
  align-items:center;
}
.find-tool-button-container > *:first-child:not(:only-child) {
  margin-left:4px;
}
.find-tool-button-container > *:only-child {
  margin-left:2px;
}
.find-tool-button-container > * {
  margin:2px;
  margin-left:0px;
  font-size:22px;
  color:rgb(50,50,50);
  border-radius:50%;
  transition:background-color .85s;
}
.find-tool-settings-button {
  /* Looks bad because the icon takes up most of the space */
  background-color:initial !important;
  font-size:18px;
}
.find-tool-settings-button:hover {
  --spin-var-deg: 90deg;
  -ms-animation:spin-var .25s linear 1;
  -o-animation:spin-var .25s linear 1;
  -webkit-animation:spin-var .25s linear 1;
  -moz-animation:spin-var .25s linear 1;
  animation:spin-var .25s linear 1;
}
.find-tool-close-button {
  font-size:24px;
}
.find-tool-button-container > *:hover {
  background-color:rgb(240,240,240);
}
.find-tool-button-container > *:active {
  transition:background-color .35s;
  background-color:rgb(220,220,220);
}
.find-tool-result-container {
  resize:vertical;
  overflow-y:auto;
  border-top:2px solid rgb(220, 220, 220);
}
.find-tool-result {
  padding:5px 7.5px;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:background-color .85s;

  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  -ms-user-select:none;
}
.find-tool-result:hover {
  background-color:rgb(235, 235, 235);
}
.find-tool-result-header:hover {
  background-color:inherit;
}
.find-tool-result:not(:last-child) {
  border-bottom:2px solid rgb(220, 220, 220);
}
.find-tool-result > *:not(:only-child) {
  flex: 1 1 100%;
  min-width:0%;
  word-break:break-word;

  /* display:flex;
  justify-content:center;
  align-items:center; */
  text-align:center;
}
.find-tool-result > div.group-arrow {
  flex: 1 1 30%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:24px;
}
.result-group > *:first-child {
  font-weight:500;
}
.find-tool-result-header {
  display:flex;
  justify-content:center;
  align-items:center;
}
.find-tool-result-header > * {
}
.find-tool-result-header > .find-tool-back-button-wrapper {
  font-size:20px;
  flex:0 !important;
  display:flex;
  justify-content:center;
  align-items:center;
  min-width:initial;
}
.find-tool-result-header > span {
  width:100%;
  text-align:center;
  display:inline-block;
}
.find-tool-result-header > span:nth-child(2) {
  flex:0 !important;
  flex-grow:1 !important;
}
.find-tool-result > div:only-child {
  flex:1;
  display:flex;
}
.find-tool-result > div:only-child > .result-group {
  flex:1;
  text-align:center;
  word-break:break-word;
}
.find-tool-settings {
}
.find-tool-settings-top {
  display:flex;
  padding-bottom:0 !important;
}
.find-tool-settings-top::after {
  background-color:rgb(175,175,175) !important;
}
.find-tool-settings-top > .find-tool-button-container::before {
  background-color:rgb(175,175,175) !important;
}
.find-tool-settings-header {
  padding:5px 14px;
  font-weight:500;
}
.find-tool-settings-body {
  display:flex;
  flex-direction:column;
  padding:6px;
}
.find-tool-settings-body > * {
  display:flex;
  /* justify-content:space-around; */
  align-items:center;
}
.find-tool-settings-body > * > input {
  margin:6px;
  margin-top:10px;
}
.find-tool-select-button-wrapper {
  font-size:22px;
  display:flex;
  justify-content:center;
  align-items:center;
}

*[data-hide="true"] {
  display:none;
}

*:not(input):empty[contenteditable="true"][placeholder]::before {
  /* Pseudo-placeholder attribute on content editable elements */
  content:attr(placeholder);
  color:gray;
}

@keyframes spin-var { 100% { -webkit-transform: rotate(var(--spin-var-deg)); transform:rotate(var(--spin-var-deg)); } }
@-moz-keyframes spin-var { 100% { -webkit-transform: rotate(var(--spin-var-deg)); transform:rotate(var(--spin-var-deg)); } }
@-o-keyframes spin-var { 100% { -webkit-transform: rotate(var(--spin-var-deg)); transform:rotate(var(--spin-var-deg)); } }
@-ms-keyframes spin-var { 100% { -webkit-transform: rotate(var(--spin-var-deg)); transform:rotate(var(--spin-var-deg)); } }
@-webkit-keyframes spin-var { 100% { -webkit-transform: rotate(var(--spin-var-deg)); transform:rotate(var(--spin-var-deg)); } }
