.InteractiveShell {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: black;
  height: 100%;
  position: relative;
}
.editor {
  height: 100%;
  flex-grow: 1;
  background-color: white;
}
.editor > .react-codemirror2 {
  height: 100%;
}
.editor .CodeMirror {
  height: 100%;
}
.shell-btn-container {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 3; /* Appear over codemirror */
}
.shell-btn-container * {
  font-size:12px!important;
}
.shell-btn-container.menu {
  position: static;
  background-color: rgb(247,247,247);
  border: 1px solid #ddd;
  padding: 2px;
}
.shell-btn-container.menu > .shell-btn-group {
  float: right;
}
.shell-btn-group > * {
  outline: none;
  box-shadow: none !important;
  color: var(--primary) !important;
  background-color: transparent !important;
}
.shell-btn-group > *:hover {
  cursor: pointer;
}
.shell-btn-group > *.active {
  background-color: var(--primary) !important;
  color: white !important;
  cursor: default !important;
}
/* .shell-button {
  background-color: transparent;
  position: absolute;
  right: 5px;
  top: 5px;
  color: var(--primary);
  outline: none;
  border: none;
  box-shadow: none !important;
  z-index: 1;
} */
.shell-line {
  padding: .25rem 0 !important;
  margin-left: .25rem;
  margin-right: .25rem;
  position: relative;
}
.shell-line:last-child {
  padding-bottom: .5rem !important; /* Makes it easier to see when typing */
}
.shell-line, .shell-line input {
  color: rgb(204, 204, 204) !important;
}
/* .shell-line  *::selection {
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
} */
.line-prefix {
}
.real-prefix {
  position: absolute;
}
.line-content {
  flex-grow: 1;
}
.line-content, .line-output {
  white-space: pre-wrap;
  word-break: break-word;
}
.shell-line input {
  /* Bootstrap adds these rules which cause the input to take an entire line */
  display: inline;
}
.shell-line input:not(:focus) {
  /*Should add a rule here to make it easier to find input box when you deselect it - couldn't think of anything */
}

.loading::after {
  content: '';
  animation: loading 2s linear infinite
}

@keyframes loading {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}
