.InteractiveShell {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: black;
  height: 100%;
  position: relative;
}
.editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
}
.editor-run-btn {
  /* float: right; */
  margin-right: 5px;
}
.editor > .react-codemirror2 {
  height: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-grow: 1; */
}
.editor .CodeMirror {
  height: 100%;
  /* flex-grow: 1; */
}
.shell-btn-container {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 3; /* Appear over codemirror */
}
.shell-btn-container .nav-tabs {
  /* This container requires a width rule in order to prevent the tabs from overflowing it
   * When the container has a width, the tabs will then be able to shrink such that they don't exceed this width
   */
  max-width: calc(100% - 32px);
  border: none;
  /* flex-wrap: nowrap; */
  /* display: inline; */
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  /* width: 100%; */
}
.shell-btn-container .tab-content {
  display: none;
}
.shell-btn-container .nav-item {
  /* display: inline-block; */
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  /* width: 100%; */
  min-width: 0;
  align-items: center;
}
.shell-btn-container .nav-item.active {
  /* display: flex; */
  /* align-items: center; */
  padding-right: 6px;
}
.shell-btn-container .nav-item.active > *:first-child {
  flex: 0 1 auto;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
}
.shell-btn-container .nav-item.active > *:nth-child(2) {
  flex: 1 0 auto;
}
.shell-btn-container .nav-item.active .close-program {
  margin-left: 8px;
  margin-top: 1px;
}
.add-program-btn {
  font-size: 16px !important;
  margin-left: 8px;
  flex-shrink: 0;
}
.shell-btn-container * {
  font-size:12px!important;
}
.shell-btn-container.menu {
  position: static;
  background-color: rgb(247,247,247);
  border: 1px solid #ddd;
  padding: 2px;
  display: flex;
}
.editor-menu-left {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 0;
}
.editor-menu-right {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
.shell-btn-group > * {
  outline: none;
  box-shadow: none !important;
  color: var(--primary) !important;
  background-color: transparent !important;
}
.shell-btn-group > *:hover {
  cursor: pointer;
}
.shell-btn-group > *.active {
  background-color: var(--primary) !important;
  color: white !important;
  cursor: default !important;
}
/* .shell-button {
  background-color: transparent;
  position: absolute;
  right: 5px;
  top: 5px;
  color: var(--primary);
  outline: none;
  border: none;
  box-shadow: none !important;
  z-index: 1;
} */
.shell-line {
  padding: .25rem 0 !important;
  margin-left: .25rem;
  margin-right: .25rem;
  position: relative;
}
.shell-line:last-child {
  padding-bottom: .5rem !important; /* Makes it easier to see when typing */
}
.shell-line, .shell-line input {
  color: rgb(204, 204, 204) !important;
}
/* .shell-line  *::selection {
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
} */
.line-prefix {
}
.real-prefix {
  position: absolute;
}
.line-content {
  flex-grow: 1;
}
.line-content, .line-output {
  white-space: pre-wrap;
  word-break: break-word;
}
.shell-line input {
  /* Bootstrap adds these rules which cause the input to take an entire line */
  display: inline;
}
.shell-line input:not(:focus) {
  /*Should add a rule here to make it easier to find input box when you deselect it - couldn't think of anything */
}

.loading::after {
  content: '';
  animation: loading 2s linear infinite
}

@keyframes loading {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}
